<div class="container">
  <div class="container light-gray-background">
    <h1>New Service</h1>
    <%= simple_form_for @service do |f| %>
        <ul>
            <li>
              <%= f.input :name, input_html: { class: 'form-input' } %>
              <%= f.input :price, input_html: { class: 'form-input' } %>
              <%= f.input :address, input_html: { class: 'form-input' } %>
              <%= f.input :photo, as: :file %>
            </li>
        </ul>
        <%= f.button :submit, 'Save', class: "btn btn-dark dark-button m-2" %>
        <% end %>
  </div>
</div>
