<div class="container chatroom"
  data-controller="chatroom-subscriptions"
  data-chatroom-subscriptions-chatroom-id-value="<%= @chatroom.id %>"
>
  <div class="container-portfolio">
  <% if current_user.provider %>
    <%= link_to "Client Booking", bookings_path, class:"btn-back" %><%= link_to "My Appointments", bookings_appointments_path, class:"btn-back" %>
  <% else %>
    <%= link_to "My Appointments", bookings_appointments_path, class:"btn-back" %>
  <% end %>
  </div>

  <h1>DM</h1>
  <div class="messages" data-chatroom-subscriptions-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <%= simple_form_for [@chatroom, @message],
    html: { data: { action: "turbo:submit-end->chatroom-subscriptions#resetForm" }, class: "d-flex" } do |f|
  %>
    <%= f.input :content,
      label: false,
      wrapper_html: {class: "flex-grow-1"}
    %>
     <%= button_tag type: "submit", class: "btn btn-dark mb-3", style:"font-size: 24px" do %>
      <i class="fa-solid fa-paper-plane"></i>
      <% end %>
  <% end %>

</div>
