<div class="container">
  <h3><%= "Welcome #{@user.first_name} #{current_user.last_name}," %></h3>
  <% if @sorted_bookings.length > 0 %>
  <h4>Your Client Bookings</h4>
  <% else %>
    <h4>You don't have any client bookings yet.</h4>
  <% end %>
<% @grouped_bookings.each do |date, bookings| %>
    <h3><%= date.strftime('%B %d, %Y') %></h3>
<div class="container-cards">
     <% bookings.each do |booking| %>
    <div class="card-services">
      <h2 style="text-align: center;"><%= booking.service.name %></h2>
          <p><%= "Start Hour: #{booking.start_hour}:00" %></p>
          <p><%= "Customer: #{booking.user.first_name} #{booking.user.last_name} " %></p>
          <%= link_to chatroom_path(booking.chatroom), class: "btn-chat"  do %>
            <i class="fa-brands fa-rocketchat"></i>
          <% end %>
          <%= link_to booking_path(booking), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} , class: "btn-delete" do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
      </div>
      <% end %>
      <% end %>
  </div>
</div>
