<div class="container">
  <%= simple_form_for([@service, @booking]) do |f| %>
  <% if @selected_date.present? %>
    <%= f.input :date, as: :hidden, input_html: { value: @selected_date } %>
    <p>Selected date: <%= @selected_date %></p>
  <% else %>
    <%= f.input :date %>
  <% end %>

  <% if @selected_timeslot.present? %>
    <%= f.input :start_hour, as: :hidden, input_html: { value: @selected_timeslot } %>
    <p>Selected time: <%= "#{@selected_timeslot}:00" %></p>
  <% else %>
    <%= f.input :start_hour, collection: 0..23, prompt: "Select a Start Hour" %>
  <% end %>

  <%= f.button :submit, 'Save' %>
<% end %>
</div>
