<h3><%= @booking.service.name %></h3>
<p><%= "Provider: #{@booking.service.user.first_name} #{@booking.service.user.last_name}" %></p>
<p><%= "Start: #{@booking.start_date_time}" %></p>
<p><%= "End: #{@booking.end_date_time}" %></p>
<p><%= "Address: #{@booking.service.address}" %></p>
