<div class="container">
  <div class="row my-3 m-2">
    <div class="col-sm-8", style="width: 100%; padding: 0px;">
      <%= form_with url: users_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              style: "border-radius: 16px; border-bottom-right-radius: 0px; border-top-right-radius: 0px",
              class: "form-control form-input search-input",
              placeholder: "Type a keyword"
          %>
        <%= button_tag type: "submit", class: "dark-button", style: "font-size: 20px; border-bottom-left-radius: 0px; border-top-left-radius: 0px;", data: { disable_with: "" } do %>
         <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
        <% end %>

      <% end %>
    </div>
  </div>

    <div class="container-card-users">
      <% @users.each do |user| %>
        <% if user.provider == true %>
        <%= link_to user_path(user), style: "text-decoration: none; color: black" do %>
            <div class="card-users">
              <div class = "user-avatar">
                      <% if user.photo.attached? %>
                        <%= cl_image_tag user.photo.key, class: "avatar-bordered", alt: "User avatar", crop: :fill %>
                      <% else %>
                        <%= image_tag "https://res.cloudinary.com/dsnkrdlih/image/upload/v1710449263/Screenshot_2024-03-14_at_20.46.51_nbubyh.png", class: "avatar-bordered", alt: "Default avatar" %>
                      <% end %>
                    </div>
                <div class="card-user-infos">
                <h2><%= "#{user.first_name} #{user.last_name}" %></h2>
                <div class = "user-info">

                  <div class = "user-details">
                    <h4>
                      <% user.services.each do |service| %>
                        <span><%= service.name %></span>
                      <% end %>
                    </h4>
                    <p><%= user.services[0].address %></p>
                    <div class="rating-stars">
                      <% full_stars = user.rating.floor %>
                      <% half_star = (user.rating - full_stars >= 0.5) ? 1 : 0 %>
                      <% empty_stars = 5 - full_stars - half_star %>
                      <% full_stars.times do %>
                        <i class="fa-solid fa-star"></i> <%# Full star %>
                      <% end %>
                      <% if half_star > 0 %>
                        <i class="fa-solid fa-star-half"></i> <%# Half star %>
                      <% end %>
                      <% empty_stars.times do %>
                        <i class="fa fa-star-o"></i> <%# Empty star %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

  </div>
