<div class = "container">http://localhost:3000/users/5
  <h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
  <br>
  <h3>Services Provided:</h3>

  <div class="container-card">
    <br>
      <% @services.each do |service| %>
      <div class="card-trip">
        <h2 style="text-align: center;"><%= service.name %></h2>
          <ul>
            <p><%= "Price: #{service.price}" %></p>
            <p><%= "Address: #{service.address}" %></p>
            <h2><%= link_to "Book", new_service_booking_path(service_id: service.id), class: "btn btn-danger"%></h2>
          </ul>
      </div>
      <br>
      <% end %>
  </div>

  <h3>Reviews</h3>
  <%  @user.services.each do |service| %>
    <% service.bookings.each do |booking| %>
      <p><%= booking.review.rating %></p>
      <p><%= booking.review.comment %></p>
    <% end %>
  <% end %>

</div>
