<div class = "container">
  <h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
  <br>
  <h3>Services Provided:</h3>

  <div class="container-card">
    <br>
      <% @services.each do |service| %>
      <div class="card-trip">
        <h2 style="text-align: center;"><%= service.name %></h2>
          <ul>
            <p><%= "Price: #{service.price}" %></p>
            <p><%= "Address: #{service.address}" %></p>
            <h2><%= link_to "View Appointments", service_path(service), class: "btn btn-danger"%></h2>
          </ul>
      </div>
      <br>
      <% end %>
  </div>


  <h3>Reviews</h3>
  <% if @user.services.any? %>
    <%  @user.services.each do |service| %>
      <% if service.bookings.any? %>
        <% service.bookings.each do |booking| %>
          <% if booking.reviews.any? %>
            <% booking.reviews.each do |review| %>
              <p><%= "Rating: #{review.rating}" %></p>
              <p><%= "Comment: #{review.comment}" %></p>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
