<div class = "container">
  <h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
  <br>
  <h3>Services:</h3>

  <div class="container-cards">
    <% @services.each do |service| %>
    <%= link_to service_path(service), style: "text-decoration: none; color: black" do %>
    <div class="card-trip">
      <% if service.photo.attached? %>
        <%= cl_image_tag service.photo.key, height: 150, class: "card-image", crop: :fill %>
      <% end %>
      <h2 style="text-align: center;" class= "btn btn-dark dark-button m-2"><%= service.name %></h2>
        <ul>
          <p><%= "Price: #{service.price}" %></p>
          <p><%= "Address: #{service.address}" %></p>
        </ul>
      </div>
      <% end %>
      <% end %>
  </div>



<h3 class="">Reviews</h3>

<div class="reviews-container">
  <% if @user.services.any? %>
    <% @user.services.each do |service| %>
      <% if service.bookings.any? %>
        <% service.bookings.each do |booking| %>
          <% if booking.reviews.any? %>
            <% booking.reviews.each do |review| %>
              <div class="review">
                <div class="reviewer-info">
                  <%# <%= "Name: #{review.user.name}" %>
                  <%# <%= "Location: #{review.user.location}" %>
                </div>
                <div class="rating-stars">
                  <%= "Rating: #{'★' * review.rating}" %>
                </div>
                <div class="review-comment">
                  <%= "Comment: #{review.comment}" %>
                </div>
                <div class="review-timestamp">
                  <%= "Posted: #{time_ago_in_words(review.created_at)} ago" %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
