<div class="container">
  <h2>Log in</h2>
  <div class="light-gray-background mx-3 px-4 py-3">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email", class: 'form-input' } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password", class: 'form-input' } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "btn btn-dark dark-button m-2" %>
      </div>
    <% end %>
  </div>
  <br>
  <%= render "devise/shared/links" %>

</div>
